#page-header {
    background-color: var(--color-primary);
    color: var(--color-title-in-primary);
    padding: 1rem;
    padding-bottom: 4rem;
    width: 100%;
}

#titles {
    width: 60%;
}

#title-max,
#title-min {
    margin-bottom: 2rem;
}

#page-header-icons {
    height: 1rem;
    /* max-width: 60rem; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#page-header-icons img {
    height: 100%;
}

#title-max {
    display: none;
}

#desc {
    display: none;
}

@media(min-width: 900px) {
    #title-max {
        display: block;
    }
    
    #title-min {
        display: none;
    }

    #desc {
        display: block;
    }
}