@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
:root {
    --color-background: #D9D9D9;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #D2D2DB;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #e3e3e9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    outline: none;
}

html, body, #root, .App {
    min-height: 100vh;
    width: 100%;
}

body {
    background-color: var(--color-background);
}

a {
    text-decoration: none;
}

h1 {
    color: var(--color-title-in-primary);
}

.App {
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-button-text);
    padding: 1rem;
    border-radius: .2rem;
    border: none;
    transition: background .3s;
}

.btn:hover{
    background-color: var(--color-secondary-dark);
}

.panel {
    background-color: var(--color-box-base);
    border-radius: .5rem;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--color-text-base);
}

.form-group input,
.form-group textarea, 
.form-group select {
    display: block;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid var(--color-line-in-white);
    outline: none;
    background-color: var(--color-input-background);
}